registry=https://registry.npmmirror.com/
# 默认情况下，如果某个包有 Peer Dependency，但没有在项目中的 package.json 明确列出，npm 会发出警告而不会自动安装。启用 auto-install-peers=true 后，npm 会自动安装这些 Peer Dependencies，简化了依赖管理，减少了由于未安装 Peer Dependencies 导致的运行时错误。
auto-install-peers=true
# 如果将其设置为 false，npm 在满足某些 Peer Dependencies 的条件下将不会阻止安装其它依赖包。这在某些情况下可以减少因版本不兼容导致的麻烦。
strict-peer-dependencies=false